/* Format for all zocial icons */
[class*="zocial-"]:before {
	color: black;
	display: inline-block;
	font-family: 'zocial', sans-serif;
	text-shadow: 3px 3px 3px #aaa;
	width: 2em;
}

/* Suppose to change color of icons (light blue) when passed over */
a:hover [class*="zocial-"]:before {
  color: #3d85c6;
}

/* Space out zocial icons */
div#social a {
  margin: 0 1em 0 0;
}

/* Set left margin for last zocial icon (Digg) */
div#social a:last-of-type {
  margin: 0;
}

article {
  margin: 0 auto;
  max-width: 50em;
  /* Add border to bottom of article */
  border-bottom: 1px solid #ddd;
}

body {
  font-family: sans-serif;
  margin: 2em;
}

/* Adjust height of social icon line*/
div#social {
  line-height: 2em;
}

/* Add color to image captions */
figcaption {
  color: #bb021e;
  padding: 1em 0;
}

/* Make all images same width size as font! */
figure {
  margin: 1em 0 1em 0;
}

/* Fix footer to 800px */
footer {
  margin: 0 auto;
  width: 800px;
}

/* Fix header to 800px */
header {
  margin: 0 auto;
  width: 800px;
}

h1 {
  margin: 0 auto 1em auto;
  width: 800px;
}

img {
  max-width: 100%;
}

/* Format svg logo icon in header */
svg#logo {
  fill: #666;
  height: 6vw;
  margin: 0 auto 0.5em auto;
  width: 6vw;
}

/* Change color of svg logo when passed over */
header:hover svg#logo {
  fill: #3d85c6;
  -webkit-filter: drop-shadow(3px 3px 3px #ddd);
  filter: drop-shadow(3px 3px 3px #ddd);
}
