<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css')}}">
</head>

<body>
	<div>
		<h1>Restaurants</h1>
		</br>
	</div>


<!-- Add restaurant -->

	<div>
		<a href="{{url_for('newRestaurant')}}">
			<button class="btn btn-default" id="button_newRestaurant">
				Add Restaurant
			</button>
		</a>
		</br>
		</br>
	</div>

<!--Flash-->

	<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
    	{% if messages %}
        <ul>
		{% for message in messages %}
			<li> <strong> {{ message }} </strong> </li>
		{% endfor %}
		</ul>
		{% endif %}
    {% endwith %}
	</div>

<!-- Dislay restaurants -->

	<font color=#ffffcc>
	{% for r in restaurants %}
		<a href = "{{url_for('restaurantMenu', restaurant_id = r.id)}}">{{r.name}}</a>
		</br>
		<a href="{{url_for('editRestaurant', restaurant_id = r.id)}}">Edit</a>
		<a href="{{url_for('deleteRestaurant', restaurant_id = r.id)}}">Delete</a>
		</br>
		</br>
	{% endfor %}
	</font>
</body>

</html>